.burgerConstructor {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.burgerConstructor__totalPrice {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.burgerConstructor__cost {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}
