.feedItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 796px;
  width: 100%;
  padding: 24px;
  gap: 24px;
  border-radius: 40px;
  background-color: #1c1c21;
  box-sizing: border-box;
}

.feedItem__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feedItem__briefOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.feedItem__images {
  display: flex;
  flex-direction: row;
}

.feedItem__date {
  text-align: center;
  margin: 0;
}

.feedItem__link {
  text-decoration: none;
  color: white;
}
