.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 860px;
  width: 100%;
  margin-top: 120px;
  padding-left: 16px;
  gap: 60px;
}

.profile__input {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  gap: 24px;
}

.profile__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1224px;
  width: 100%;
  margin: 120px auto 0;
  gap: 60px;
}
