.feedStatistics {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 600px;
  width: 100%;
}

.feedStatistics__table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedStatistics__status {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 272px;
  width: 100%;
}

.feedStatistics__orderNumbers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 314px;
  flex-wrap: wrap;
}

.feedStatistics__orderNumber {
  color: #0cc;
  margin: 0;
}

.feedStatistics__ordersQnty {
  display: block;
}
